/* Zafixování hlavičky tabulky */
table {
  width: 100%;
}

thead, tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
  
}

tbody {
  display: block;
  overflow-y: auto;
  table-layout: fixed;
  max-height: 180px;
  font-size: 0.65rem;
}

th {
  font-size: 1rem;
  text-align:start;
}

 thead{
  width: 98.9%;
 }
 
 /* Úprava tlačítek nástrojů v tabulce */
 #tl-vymaz
  {
   background: url(../obrazky/kos.png) left top no-repeat;
   background-size: 100%;
   padding: 1px;
   width:  20px;
   height: 20px;
 
  }

  #tl-uprav
  {
   background: url(../obrazky/pero.png) left top no-repeat;
   background-size: 100%;
   padding: 1px;
   width:  20px;
   height: 20px;
 }
  
 